@import "tailwindcss";

@import './components/navbar.css';
@import './components/card.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", sans-serif;

    --color-china: rgba(112, 150, 209, 1);
    --color-dawn: rgba(208, 227, 255, 1);
    --color-asian-pear: rgba(208, 227, 255, 1);
    --color-porcelain: #EDF1F6;
    --color-royal: rgba(51, 78, 172, 1);
    --color-jicama: #FFF9F0;
    --color-midnight: rgba(8,31,92,1);
}

.logo {
    filter: drop-shadow(2.533px 3.533px 2px rgba(0, 0, 0, 0.3));
}

.bg-image{
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-user-drag: none;
}

footer a{
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:hover {
    @apply transition-all duration-300;
    scale: 101%;
}

