.card-home {
  position: relative;
  overflow: hidden; 
  border-radius: 10px; 
}

.card-home::before {
  content: "";
  position: absolute;
  inset: -10px; 
  background: royalblue; 
  filter: blur(10px); 
  z-index: -1; 
}
